.body-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("https://zbase-global.zingfront.com/saasbox/resources/gif/背景19__ad22267ff8619dac58ed416a4739edba.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-box {
    width: 45%;
    margin-bottom: 20px;
    background-color: rgba(44, 113, 54, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.about-container {
    text-align: left;
}
  
.about-title {
    font-size: 2em;
    color: #ffffff;
}
  
.about-paragraph {
    font-size: 1.2em;
    line-height: 1.6;
    color: #ffffff;
}
  
.about-paragraph ul {
    list-style-type: none;
    padding: 0;
}
  
.about-paragraph li {
    margin-bottom: 10px;
}
  
.about-paragraph a {
    color: #3498db;
    text-decoration: none;
}
  
.about-paragraph a:hover {
    text-decoration: underline;
}

.about-paragraph a {
    color: rgb(73, 250, 229);
    text-decoration: underline;
}

  
@media (max-width: 768px) {
    .about-box {
      width: 100%;
    }
}

.slide-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slick-dots li button:before {
    font-size: 24px;
    color: rgb(36, 193, 44);
}

.slick-dots {
    height: 200px;
}

.about-title,
.about-paragraph {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}