.Activate_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("https://gifdb.com/images/file/mystical-blue-forest-gg1cjxrc51bn8oh3.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}