body {
    margin: 0;
    padding: 0;
}

.body_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("https://gifdb.com/images/file/mystical-blue-forest-gg1cjxrc51bn8oh3.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.auth__container {
    background-color: rgba(39, 110, 197, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

.main__title {
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 30px;
}

.auth__form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #514ad2;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    margin-top: 0px;
}

button:hover {
    background-color: rgb(39, 125, 179);
}

Link {
    text-align: right;
    color: #4caf50;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
}

Link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .auth__container {
        width: 40%;
    }
}
