video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -999;
}

.yourname-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.yourname-container > h1 {
    font-size: 100px;
    margin-top: auto;
    position: fixed;
    z-index: -1;
}
.yourname-btn {
    margin-top: 200px;
    position: relative;

}